@import "tailwindcss";
body {
  font-family: "Cormorant Garamond", serif;
  /* font-family: "Playfair Display", serif; */
}

.hero1 {
  background-image: url("./assets/hero3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: background-image 0.8s ease-in-out;
}
.hero2 {
  background-image: url("./assets/hero5.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: background-image 0.8s ease-in-out;
}

.hero3 {
  background-image: url("./assets/hero4.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: background-image 0.8s ease-in-out;
}
